@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

/* * {
  outline: red dashed 1px;
} */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#error {
  color: rgba(224, 25, 25);
  margin: 0;
}

header #navigation {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  width: 100%;
  padding: 20px 24px;
  margin: 0;
}

header #navigation .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

header #navigation .nav-header #logo {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #28352f;
}

header #navigation .nav-header .nav-toggle {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #28352f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header #navigation .nav-list {
  height: 0;
  background: #fff;
  position: fixed;
  top: -20px;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 1s ease-in-out;
  display: none;
}

footer .email-footer h3 a {
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #42526e;
}

header #navigation .nav-list .nav-link a {
  font-size: 28px;
  line-height: 44px;
  font-weight: 600;
  color: #3a4a42;
}

header #navigation .nav-list .nav-close {
  display: block;
  position: absolute;
  top: 40px;
  right: 30px;
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: #67798e;
  cursor: pointer;
}

header #navigation .nav-list.active {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 100px 30px;
  list-style: none;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

/* The section styles the headline section */
main .headline-section {
  background-image: url("img/header-illsutration-mobile@2x.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-top: 60px;
  text-align: center;
}

main .headline-section h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

main .headline-section h1 span {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #36b37e;
}

.about-section p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 0;
}

main .headline-section p {
  font-size: 20px;
  font-weight: 400px;
  line-height: 28px;
  color: #172b4d;
}

main .headline-section .social-media {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 10px;
}

main .headline-section .social-media i {
  color: #505f79;
  font-size: 24px;
  margin: 15px 8px;
}

/* next section button */
.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section button {
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
  padding: 12px;
  transition: all 0.3s ease-in-out;
}

main .button-section button {
  font-size: 30px;
  color: #9aa4af;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #bfc2c7;
  width: 50px;
  height: 50px;
  padding: 8px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.about-section button:hover {
  background-color: #6cdeae;
  cursor: pointer;
}

.about-section button:active {
  background-color: #008552;
  cursor: pointer;
  transition: 0s;
}

main .button-section button:hover {
  cursor: pointer;
}

main .button-section button:active {
  color: #fff;
  background-color: #0a2759;
  cursor: pointer;
}

/* The section below styles the project work section using css grid and flexbox */
.about-section h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0;
}

main .work-section h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 0 25px;
  margin: 25px 0;
}

main .work-section #hr-line {
  margin: auto;
  width: 48px;
  height: 4px;
  margin-bottom: 20px;
  background-color: #36b37e;
}

main .work-section .project-container {
  display: flex;
  flex-direction: column;

  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  grid-template-rows: repeat(2, 450px);
  gap: 10px; */
  margin: 5px 15px;
}

main .work-section .project-container .work {
  padding: 0;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
  margin: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

main .work-section .project-container .work:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 24px rgba(0, 0, 0, 0.1);
}

/* .work1 {
  background-image: url('./img/projects/jscamp.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 60%;
} */
main .work-section .project-container .work .project-img {
  flex: 1;
  margin-bottom: -10px;
  height: 100px;
}

.skills-section .skill-box img {
  width: 80px;
  height: 80px;
}

main .work-section .project-container .work .project-img img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

main .work-section .project-container .work .project-info {
  flex: 1;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 16px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2), 0 0 24px rgba(0, 0, 0, 0.1);
}

.skills-section .skill-box h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

main .contact-section .contact .text-contact h3 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
}

main .work-section .project-container .work .project-info h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #3a4a42;
  margin: 0;
  text-align: center;
}

.skills-section .skill-box ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 8px 12px;
  margin: 0;
}

main .work-section .project-container .work .project-info ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 8px 12px;
  margin: 0;
}

.skills-section .skill-box ul li {
  background-color: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #278d63;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

main .work-section .project-container .work .project-info ul li {
  background-color: #ebf0ee;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 12px;
}

main .contact-section .contact .contact-form button {
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

main .work-section .project-container .work .project-info button {
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

main .contact-section .contact .contact-form button:hover {
  background-color: #6cdeae;
  cursor: pointer;
}

main .contact-section .contact .contact-form button:active {
  background-color: #008552;
  cursor: pointer;
  transition: 0s;
}

main .work-section .project-container .work .project-info button:hover {
  background-color: #6cdeae;
  cursor: pointer;
}

main .work-section .project-container .work .project-info button:active {
  background-color: #008552;
  cursor: pointer;
  transition: 0s;
}

/* The block below styles the about me section and the skills */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 5px 12px;
  background-image:
    url("img/illustration\ 1-\ about\ me-mobile.png"),
    url("img/illustration\ 2-about\ me\ mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  margin: 20px 0;
}

.skills-section {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px 15px;
}

.skills-section .skill-box {
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 32% 22% 43%;
  place-items: center;
  gap: 1%;
  padding: 25px 15px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.skills-section .skill-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 24px rgba(0, 0, 0, 0.1);
}

main .contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
}

main .contact-section .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .contact-section .contact .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main .contact-section .contact .contact-form input,
main .contact-section .contact .contact-form textarea {
  border: 1px solid #d0d9d4;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
  padding: 10px 12px;
  width: 330px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #6b778c;
}

main .contact-section .contact .contact-form input {
  height: 48px;
}

main .contact-section .contact .contact-form input:focus {
  color: black;
  outline: 2px solid #60c095;
}

main .contact-section .contact .contact-form textarea:focus {
  color: black;
  outline: 2px solid #60c095;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .footer-social .social-media {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 10px;
}

footer .footer-social .social-media i {
  color: #505f79;
  font-size: 24px;
  margin: 15px 8px;
}

/* The block below is for desktop version */
@media screen and (min-width: 768px) {
  /* The section below styles the header (logo and menu) */
  header #navigation {
    flex-direction: row;
    justify-content: center;
    background: none;
    position: fixed;
  }

  header #navigation .nav-header {
    display: none;
  }

  header #navigation .nav-list {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding: 35px 18px;
    background: rgba(255, 255, 255, 0.9);
  }

  header #navigation .nav-list .nav-link a {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: #3a4a42;
  }

  header #navigation .nav-list .nav-close {
    display: none;
  }

  /* The section below styles the headline section */
  main .headline-section {
    background-image: url("img/desktop-bg.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20%;
    margin-top: -80px;
  }

  main .headline-section h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #172b4d;
  }

  main .headline-section h1 span {
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    color: #36b37e;
  }

  main .headline-section p {
    font-size: 20px;
    font-weight: 500px;
    line-height: 32px;
    color: #172b4d;
  }

  main .headline-section .social-media i {
    color: #172b4d;
    font-size: 28px;
    margin: 15px 8px;
    padding: 10px;
    border-radius: 100%;
    transition: all 0.3s ease-in;
  }

  main .headline-section .social-media i:hover {
    color: #fff;
    background: #172b4d;
  }

  /* Scroll to the next section button */
  main .button-section button {
    font-size: 30px;
    color: #6f7780;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #6f7780;
  }

  /* The section below styles the project work section using css grid and flexbox */
  main .work-section h1 {
    font-size: 40px;
  }

  /* main .work-section #hr-line {
    display: none;
  } */

  main .work-section .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 24px;
    padding: 0 120px;
  }

  main .work-section .project-container .work {
    padding: 0;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    background-color: #ebf0ee;
    margin: 0;

    /* display: flex;
    flex-direction: column; */
  }

  /* main .work-section .project-container .project-img {
    flex: 1;
  } */

  /* main .work-section .project-container .work .project-info {
    flex: 1;
    border-radius: 10px;
    gap: 10px;
  } */

  main .contact-section .contact .text-contact h3 {
    font-size: 30px;
    margin-top: 0;
  }

  main .work-section .project-container .work .project-info h3 {
    font-size: 22px;
  }

  main .work-section .project-container .work .project-info ul {
    gap: 5px;
    padding: 8px;
    margin: 0;
  }

  main .work-section .project-container .work .project-info ul li {
    font-size: 12px;
    padding: 8px;
  }

  /* The block below styles the about me section and the skills */
  .about-section {
    padding: 10px 20%;
    background-image: url("img/about-bg-2.png"), url("img/about-bg-left.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    background-size: 200px 150px, 200px 100px;
    margin: 20px 0;
  }

  .skills-section {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 24px;
    padding: 0 120px;

    /* gap: 15px; */

    /* margin: 0 100px; */
  }

  .skills-section .skill-box {
    /* background-color: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; */
    padding: 0;
    margin: 0;
  }

  main .contact-section {
    padding: 150px 100px;
    margin: 0;
    background-image:
      url("img/contact-bg-1.png"),
      url("img/contact-bg-2.png"),
      url("img/contact-bg-3.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, 25% 85%, bottom left;
    background-size: 200px 400px, 130px 100px, 200px 260px;
    border-bottom: 2px solid #dfe1e6;
  }

  main .contact-section .contact {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 20px;
  }

  main .contact-section .contact .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  main .contact-section .contact .contact-form input {
    height: 20px;
  }

  main .contact-section .contact .contact-form input,
  main .contact-section .contact .contact-form #textarea {
    width: 545px;
  }

  main .contact-section .contact .contact-form button {
    margin-left: -77%;
  }

  footer .email-footer {
    display: none;
  }
}
